#create-orphanage{
    display: flex;
    min-height: 100vh;
}
main{
    flex: 1;
}

/* details */

form{
    width: 70rem;
    margin: 6.4rem auto;
    background-color: white;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    overflow: hidden;
    padding: 8rem;
}
.map-container{
    margin: 0 0 4rem;
    background: #e6f7fd;
    border: 1px solid #b3dae2;
    border-radius: 2rem;
}

#mapid{
    width: 100%;
    height: 28rem;
}
.map-container footer{
    padding: 2rem 0;
    text-align: center;
    background-color: #f5f8fa;
    border-radius: 0 0 2rem 2rem;
}
.map-container footer a{
    color: #0089a5;
    text-decoration: none;
    font-weight: 700;
}

.map-container .leaflet-container{
    border-bottom: 1px solid #dde3f0;
    border-radius: 2rem 2rem 0 0;
}

fieldset{
    border: none;
}
fieldset + fieldset{
    margin-top: 8rem;
}
fieldset legend{
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5c8599;
    font-weight: 700;
    border-bottom: 1px solid #d3e2e5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
}

.input-block + .input-block{
    margin-top: 2.4rem;
}

.input-block input:valid,
.input-block textarea:valid{
    border: 1px solid #a1e9c5;
}

.input-block label{
    color: #8fa7b3;
    margin-bottom: .8rem;
    line-height: 1.5;
}
.input-block label span{
    font-size: 1.4rem;
    color: #8fa7b3;
    margin-left: 2.4rem;
    line-height: 1.5;
}
.input-block input,
.input-block textarea{
    width: 100%;
    background-color: #f5f8fa;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    color: #5c8599;
}
.input-block input{
    height: 6.4rem;
    padding: 0 1.6rem;
}
.input-block textarea{
    height: clamp(12rem, 16rem, 24rem);
    resize: vertical;
    padding: 1.6rem;
    line-height: 2.8;
}

.input-block.input-block.images span{
    color: red;
    font-weight: 700;
}

.input-block.images button{
    color: blue;
    font-weight: 700;
    border: 1px dashed #96d2f0;
    width: 100%;
    background: #f5f8fa;
    height: 6.4rem;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    border-radius: 2rem;
    cursor: pointer;
}


.primary-button{
    margin-top: 6.4rem;
    width: 100%;
    height: 6.4rem;
    border: none;
    cursor: pointer;
    background: #3cdc8c;
    border-radius: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}
.primary-button:hover{
    background: #36cf82;
}
.primary-button img{
    margin-right: 1.6rem;
}
.button-select{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button-select button{
    height: 6.4rem;
    background-color: #f5f8fa;
    border: 1px solid #d3e2e5;
    color: #5c8599;
    cursor: pointer;
}
.button-select button:first-child{
    border-radius: 2rem 0 0 2rem;
}
.button-select button:last-child{
    border-radius: 0 2rem 2rem 0;
}
.button-select button.active{
    background: #edfff6;
    border: 1px solid #a1e9c5;
    color: #37c77f
}

.new-upload{
    position: relative;
}

.new-upload span{
    position: absolute;
    right: 12px;
    bottom: 12px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d3e2e5;
    border-radius: 1rem;
    padding: 1rem;
}

.new-upload + .new-upload{
    margin-top: 2.4rem;
}